body {
  margin: 0;
  padding: 0;
  display:flex;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}

h1{
  display: flex;
  background-color: lightsteelblue;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 400px;
}

.main-box{
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.main-game{
  width: 300px;
  height: 100px;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: beige;

}

.timer-box{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 200px;
  height: 100px;
  background-color: lightgray;
}

.score-box{
  margin: 10px;
  display: flex;
  width:  200px;
  height: 100px;
  background-color: lightslategray;
  align-items: center;
}